.button {
    /*background-color: #0066cc;*/
    border-radius: 2px;
    border: #cc9c00 solid 5px;
}

.disabled {
    opacity: 0.5;
}

.secondary {
    background-color: #0066cc;
}

.default {
    background-color: #00cc22;
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
    cursor: pointer;
}


.default:active {
    background-color: #cc9c00;
}

.secondary:active {
    background-color: #cc9c00;
}

.red:active {
    background-color:brown;
}

.button:disabled {
    background-color: #d1d1d1;
}
